*{
    margin: 0%;
    padding: 0%;
    }
    header{
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    }
    header>ul a{
    text-decoration: none;
    color: black;
    margin: 10px;
    }
    ul{
    margin-top: 10px;
    margin-right: 30px;
    }
    body{
    width: 100%;
    }
    .view>h1{
    margin-bottom:10px ;
    font-size: 50px;
    }
    .index{
    width: 100%;
    background-color: rgba(190, 176, 186, 0.986);
    display: flex;
    justify-content: center;
    padding: 50px;
    }
    .view{
    width: 30%;
    margin-right: 50px;
    }
    image{
    width: 30%;
    }
    .image img{
    margin-top: 80px;
    height: 200px;
    width: 350px;
    }
    h2{
    text-align: center;
    padding: 30PX;
    font-size: 40px;
    }
    .page{
    width: 100%;
    margin-bottom: 30px;
    }
    .web,.web2{
    display: flex;
    justify-content: center;
    }
    .page img{
    height: 250px;
    width: 300px;
    margin: 10px;
    }
    footer{
    width: 100%;
    display: flex;
    border-top: 3px solid rgba(232, 179, 236, 0.658);
    padding: 30px;
    justify-content: space-between;
    }
    footer>p{
    margin-left: 30px;
    }
    .icon a{
    margin: 10px;
    margin-right: 30px;
    }